# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\Projects\CTIS\417\ctis417-project2\Calculator\.idea/dataSources/
/dataSources.local.xml
